@model IEnumerable<MyResume.Models.Post>
@{
    ViewData["Title"] = "Blog";
}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title pull-left">Blog Posts</h4>
                    <a asp-action="Create" class="btn btn-primary pull-right">CREATE A POST</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>@Html.DisplayNameFor(p => p.Id)</th>
                                    <th>@Html.DisplayNameFor(p => p.Title)</th>
                                    <th>@Html.DisplayNameFor(p => p.Body)</th>
                                    <th>@Html.DisplayNameFor(p => p.UserId)</th>
                                    <th>@Html.DisplayNameFor(p => p.CreatedAt)</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            @if (@item.Title.Length > 25)
                                            {
                                                @item.Title.Substring(0, 25)
                                            }
                                            else
                                            {
                                                @item.Title
                                            }
                                        </td>
                                        <td>
                                            @if (@item.Body.Length > 50)
                                            {
                                                @item.Body.Substring(0, 50)
                                            }
                                            else
                                            {
                                                
                                            }
                                        </td>
                                        <td>@item.User.UserName</td>
                                        <td>@item.CreatedAt.ToLongDateString()</td>
                                        <td class="td-actions text-center">
                                            <partial name="_ActionButtonsPartial" model="item.Id" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>